/* Default styles */
.wrapper {
    display: block; /* Show wrapper (carousel) by default */
}

.banner-home {
    display: none; /* Hide banner-home by default */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url(../images/13.jpg);
    width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px;
}

.banner-home h2 {
    color: rgb(230, 218, 151);
    margin: 0;
}

/* Media Query for Mobile Devices (up to 768px) */
@media (max-width: 768px) {
    .wrapper {
        display: none !important; /* Force hide wrapper on mobile devices */
    }

    .banner-home {
        display: block; /* Show banner-home on mobile devices */
    }

}

.icons i{
    color:rgb(230, 218, 151);
    padding: 5px;
}
.frow{
    background-color: #4b0152 ;
    color: rgb(230, 218, 151);
}
.ficons i{

    padding: 10px;
    font-size: medium;
   
    justify-content: right;} 